$header-text-main: #fff;
$header-text-dates: rgba(255, 255, 255, 0.5);
$header-bg: rgb(142, 161, 187);
$header-button-bg: #d53338;
$header-button-bg-hover: #942427;
$header-button-border: rgba(0, 0, 0, 0.1);
$header-actual-mark-bg: #009846;
$header-message-block-bg: rgba(71, 93, 126, 0.7);
$header-message-stripe: #fff;
$header-actual-news-bg: #475d7e;

$news-bg: #f4f6fb;
$news-text-main: #343d4a;
$news-text-dates: #81899b;
$news-text-pagination: #475d7e;
$news-text-pagination-button: #475d7e;
$news-pagination-button-bg: #475d7e;
$news-pagination-button-border: #d3d9e8;
$news-pagination-button-disabled: #d3d9e8;
$news-news-item-bg: #fff;
$news-news-item-border: #d3d9e8;

$footer-text-title: #343d4a;
$footer-text-contacts: #475d7e;
$footer-text-copyright: rgba(71, 93, 126, 0.7);
$footer-text-creator-hover: #343d4a;
$footer-contacts-border: rgba(211, 217, 232, 0.5);
$footer-text-contacts-hover: #343d4a;
